@import './base.css';

#app {
  max-width: 1140px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at left top, #ffffff 20%, #ffe000 150%) fixed;
}
